.u-container {
    width: min(1336px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

.u-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}