* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Recursive', sans-serif;
    overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
    line-height: 1;
    cursor: pointer;
}

.magic {
    background-color: #38bdf8;
    color: #fff;
    border-radius: 3px;
    padding: .75rem 1.25rem;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px hsla(198, 93%, 60%, .5);
    z-index: 10;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    --box-size: 80px;
    --columns : 4;
    --box-wrapper-size: calc(var(--box-size) * var(--columns));

    display: grid;
    grid-template-columns: repeat(var(--columns), var(--box-size));
    justify-content: space-around;
    height: calc(var(--box-size) * var(--columns));
    width: calc(var(--box-size) * var(--columns));
    position: relative;
    transition: 0.4s ease;
}

.boxes.big {
    width: calc(var(--box-wrapper-size) + 100px);
    height: calc(var(--box-wrapper-size) + 100px);
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat: no-repeat;
    background-size: var(--box-wrapper-size) var(--box-wrapper-size);
    position: relative;
    height: var(--box-size);
    width: var(--box-size);
    transition: 0.4s ease;
}

.box::after {
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}